<% include ./partials/header %> 

<div class="container vertical-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-md">
            <h1>Derek Pyle | Front End Developer </h1>
            <h3><em>Based in Boston</em></h3>
        </div>
    </div>
    <div class="row justify-content-start btn-group">
        <div class="col-sm-3">
            <a href="/projects"><button class="btn btn-secondary">Projects</button></a>
        </div>
        <div class="col-sm-3">
            <a href="/courses"><button class="btn btn-secondary">Courses</button></a>
        </div>
        <div class="col-sm-3">
            <a href="/contact"><button class="btn btn-secondary">Contact</button></a>
        </div>
    </div>
</div>

    
<% include ./partials/footer %> 
